<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/Register.css}" />
</head>
<body>
	<form action="/login/registerinfo" method="post">
		<div>
		<h2>아이디</h2>
			<p style="color:red;">특수문자 포함하지 않는 2~10자리</p>
			<input id="username" name="username" type="text" placeholder="아이디를 입력하세요">
			<button type="button" id="checkUsername">아이디 중복 확인</button>
		</div>
		<span id="usernamecheck" style="display: none;"></span>
		<div>
			<h2>비밀번호</h2>
			<p style="color:red;">문자와 숫자, 특수기호 1개이상씩 포함 4~20자리</p>
			<input name="password" id="password" type="password" placeholder="비밀번호를 입력하세요">
		</div>
		<div>
			<h2>비밀번호 확인</h2>
			<input name="password_check" id="checkPassword" type="password" placeholder="비밀번호를 입력하세요">
			<span id="passcheck" style="display: none;">비밀번호가 일치하지 않습니다.</span>
		</div>
		<div>
			<h2>이름</h2>
			<input name="name" id="name" type="text" placeholder="이름을 입력하세요">
		</div>
		<div>
			<h2>이메일</h2>
			<input name="email" type="email" placeholder="이메일을 입력하세요">
		</div>
		<div>
			<h2>주소</h2>
			<input name="address" type="text" placeholder="주소를 입력하세요">
		</div>
		<div>
			<h2>연락처</h2>
			<input name="phonenumber" type="text" placeholder="연락처를 입력하세요">
		</div>
		<div>
			<button type="submit" id="registerButton" disabled>회원가입</button>
		</div>
	</form>
	
	
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

	$(document).ready(function () {
		console.log("스크립트 시작됨");
		
	    var passwordMatch = false;
	    var usernameValid = false;
	    var validCheck = false;
	    
	 // usernameCheck
        $('#checkUsername').on('click', function() {
            var username = $('#username').val();
            console.log(username);
            $.get('/register/usernamecheck', { username: username }, function(data) {
            	console.log(data);
            	console.log(data.isAvailable);
                if (data.isAvailable) {
                    $('#usernamecheck').text('사용가능한 아이디입니다').show();
                    usernameValid = true;
                } else {
                    $('#usernamecheck').text('사용할 수 없는 아이디이거나 이미 존재하는 아이디입니다').show();
                    usernameValid = false;
                }
                checkFormValidity();
            });
        });
	 
    // passwordCheck
    	$('#checkPassword').on('input', function(){
    		var password = $('#password').val();
    		var checkPassword = $('#checkPassword').val();
    		if(password == checkPassword){
    			$('#passcheck').hide();
    			passwordMatch = true;
    		}else{
    			$('#passcheck').show();
    			passwordMatch = false;
    		}
    		checkFormValidity();
    	});
    
    // inputCheck
    const inputs = document.querySelectorAll('input');

    inputs.forEach(function(input) {
        input.addEventListener('input', function () {
            validCheck = true;

            // 전체 input 다시 체크
            inputs.forEach(function(innerInput) {
                if (innerInput.value.trim() === '') {
                    validCheck = false;
                }else{
                	validCheck = true;
                }
            });
            checkFormValidity(validCheck);
        });
      });
    
    
    function checkFormValidity(){
    	console.log(passwordMatch,usernameValid,validCheck);
    	if(passwordMatch && usernameValid && validCheck){
    		$('#registerButton').prop('disabled', false);
    	}else{
    		$('#registerButton').prop('disabled', true);
    	}
    }
    
	 
	});
</script>
</body>


</html>