<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판</title>
<link rel="stylesheet" href="/css/Board.css" />
</head>
<body>
<div th:replace="header :: header"></div>

<h1>게시판</h1>

<!-- 카테고리 -->
<form  method="get">
    <label>게시판 종류
        <select name="boardCategory">
            <option value="free">자유게시판</option>
            <option value="info">정보게시판</option>
        </select>
    </label>
    
<!-- 검색 -->
    <label>검색
        <input type="text" name="keyword" placeholder="검색어 입력">
    </label>
    <button type="submit">검색</button>
</form>
<!-- 글쓰기 -->

<div>
    <a type="button" name="write" class="button-link" th:href="@{/board/write}">글쓰기</a>
</div>

<!-- 게시글 목록 -->
<table border="1">
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>지역</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td><a th:text="${post.title}" th:href="@{'/board/' + ${post.board_id}}"></a></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${post.region}"></td>
        <td th:text="${post.created_time}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(posts)}">
        <td colspan="6">등록된 게시글이 없습니다.</td>
    </tr>
    </tbody>
</table>

<!-- 페이지 -->
<!-- <div>
    <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{|/board?page=${pageNum}|}"
           th:text="${pageNum}"
           th:classappend="${pageNum == currentPage} ? 'active'"></a>
    </span>
</div> -->

<!-- 글쓰기 -->
<div>
    <a type="button" name="write" class="button-link" th:href="@{/board/write}">글쓰기</a>
</div>

</body>
</html>