<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판</title>
</head>
<body>
<h1>게시판</h1>

<div th:replace="header :: header"></div>

<!-- 카테고리 -->
<form  method="get">
    <label>게시판 종류
        <select name="boardCategory">
            <option value="free" >자유게시판</option>
            <option value="local" >동네게시판</option>
        </select>
    </label>
<!-- 지역 -->
    <label>지역 선택
        <select name="region" >
            <option value="">-- 전체 --</option>
            <option value="서울" >서울</option>
            <option value="부산" >부산</option>
            <option value="대구" >대구</option>
            <option value="인천" >인천</option>
            <option value="광주" >광주</option>
            <option value="대전" >대전</option>
            <option value="울산" >울산</option>
            <option value="세종" >세종</option>
            <option value="경기" >경기</option>
            <option value="강원" >강원</option>
            <option value="충북" >충북</option>
            <option value="충남" >충남</option>
            <option value="전북" >전북</option>
            <option value="전남" >전남</option>
            <option value="경북" >경북</option>
            <option value="경남" >경남</option>
            <option value="제주" >제주</option>
        
        </select>
    </label>
<!-- 검색 -->
    <label>검색
        <input type="text" name="keyword" placeholder="검색어 입력">
    </label>
    <button type="submit">검색</button>
</form>
<!-- 글쓰기 -->

<div>
    <a type="button" name="write" th:href="@{/board/write}">글쓰기</a>
</div>

<!-- 게시글 목록 -->
<table border="1">
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>지역</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.title}" ><!-- <a th:href="@{'/board/' + ${post.id}}" ></a> --></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${post.region}"></td>
        <td th:text="${post.created_time}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(posts)}">
        <td colspan="6">등록된 게시글이 없습니다.</td>
    </tr>
    </tbody>
</table>

<!-- 페이지 -->
<!-- <div>
    <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{|/board?page=${pageNum}|}"
           th:text="${pageNum}"
           th:classappend="${pageNum == currentPage} ? 'active'"></a>
    </span>
</div> -->

<!-- 글쓰기 -->
<div>
    <a type="button" name="write" th:href="@{/board/write}">글쓰기</a>
</div>

</body>
</html>