<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시물</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	
	<div>수정일:
		<span th:text="${detail.updated_time}"></span>
	</div>
	
	<div>
		<h2>제목</h2>
		<div th:text="${detail.title}"></div>
	</div>
	<div>
		<h2>사진</h2>
	</div>
	<div>
		<h2>내용</h2>
		<div th:text="${detail.content}"></div>
	</div>
	<div>
		<h2>작성자</h2>
		<div th:text="${detail.writer}"></div>
	</div>
	<div>
		<a type="button" name="edit" th:href="@{'/board/edit/' + ${detail.board_id}}">수정하기</a>
	</div>
</body>
</html>