<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streetcat.mapper.LoginMapper">

	<insert id="insertUser" parameterType="com.streetcat.domain.LoginDto">
	    INSERT INTO USER (
	        USER_ID,
	        USERNAME,
	        PASSWORD,
	        NAME,
	        EMAIL,
	        ADDRESS,
	        PHONENUMBER
	    ) VALUES (
	        (SELECT new_id FROM (
	            SELECT COALESCE(MAX(USER_ID), 0) + 1 AS new_id FROM USER
	        ) AS usernum),
	        #{username},
	        #{password},
	        #{name},
	        #{email},
	        #{address},
	        #{phonenumber}
	    )
	</insert>
	
	<select id="usernamecheck" parameterType="String" resultType="String">
	
		SELECT USERNAME FROM USER WHERE USERNAME = #{username}
	
	</select>
	
	<select id="membercheck" parameterType="String" resultType="com.streetcat.security.CustomMemberDetails">
	
		SELECT * FROM USER WHERE USERNAME = #{username}
	
	</select>
	
	<select id="selectId" parameterType="String" resultType="Integer">
	
		SELECT USER_ID FROM USER WHERE USERNAME = #{username}
		
	</select>
	
	<select id="selectUsername" parameterType="Integer" resultType="String">
	
		SELECT USERNAME FROM USER WHERE USER_ID = #{id}
	</select>

</mapper>