@charset "UTF-8";

.logout-button {
  padding: 3px 9px; /* 버튼 크기 줄이기 */
  height: 30px;
  background-color: transparent; /* 배경 없애기 */
  border: 1px solid #b388eb; /* 보라색 테두리 */
  color: #b388eb; /* 글자색도 보라로 통일 */
  border-radius: 6px;
  font-size: 11px; /* 글자 작게 */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: #b388eb; /* 호버 시 배경 추가 */
  color: white; /* 글자색 반전 */
}